<div class="container">
  <table class="table mt-5">
    <thead class="thead-dark">
      <tr>
        <th class="col-4">Product</th>
        <th class="col-4">Quantity</th>
        <th class="col-4">Price</th>
      </tr>
    </thead>
  {{#if products }}
    <tbody>
    {{#each products }}
      <tr>
        <td>{{this.item.name}}</td>
        <td>{{this.qty}}</td>
        <td>{{this.price}}$ <a href="/remove-from-cart/{{this.item._id}}" class="btn btn-danger float-right">Delete</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <table class="table">
    <thead class="thead-secondary">
      <tr>
        <th class="col-4">Total:</th>
        <th class="col-4">{{totalQuantity}}</th>
        <th class="col-4">{{totalPrice}}$</th>
      </tr>
    </thead>
  </table>
  {{/if}}
  <button class="btn btn-success d-block my-5 float-right">
    Confirm your order
  </button>
</div>